/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
}

/* Header */
header {
    background-color: #4a47a3;
    color: white;
    text-align: center;
    padding: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

/* Navigation */
nav ul {
    list-style-type: none;
    padding: 0;
    background-color: #333;
    overflow: hidden;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

nav ul li a.active, nav ul li a:hover {
    background-color: #6a60a9;
}

/* Main Content */
main {
    padding: 20px;
}

/* Footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}
.project-image {
    max-width: 100%;
    width: 300px; /* Adjust as needed */
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 10px; /* Optional for rounded corners */
}
